img {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
}

main {
  display: grid;
  grid-template-columns: auto minmax(0, 1200px) auto;
  align-items: center;
}

main > section {
  grid-column: 2/3;
  padding-inline: 1rem;
  padding-block: 1rem;
}

/*TYPOGRAFI*/

h1,
h2 {
  font-family: "Rampart One", cursive;
}

h3,
p,
button,
a {
  font-family: "Urbanist", sans-serif;
}

a {
  font-weight: 800;
  text-decoration: none;
  font-size: 1em;
  color: black;
}

a:hover {
  text-decoration: underline;
}

/*FARVER*/

html {
  --primary: #29abe2;
  --secondary: #fff;
  --tertiary: #000;
  --accent: #c5c9ca;
  --text: #404042;
}

/*KNAPPER*/

nav button {
  border: 1px solid var(--accent);
  background-color: var(--secondary);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0.2rem 0.1rem;
  cursor: pointer;
  padding: 0.7rem;
  font-size: 1em;
  font-weight: bolder;
  color: var(--primary);
}

nav ul {
  padding: 0;
}

nav button:hover {
  scale: 1.1;
}

.valgt {
  background-color: var(--primary);
  color: var(--secondary);
}

article button {
  border: 1px solid var(--accent);
  background-color: var(--secondary);
  padding: 0.7rem;
  font-size: 1em;
}

article button:hover {
  background-color: var(--primary);
  color: var(--secondary);
  cursor: pointer;
}

.profilknapper {
  text-align: end;
  margin-top: 2rem;
}

#singleview .tilbage {
  margin: 1rem;
}

/*BURGERMENU*/

.hidden {
     display: none;
  /*    transform: scale(0);*/
  transform: translateX(100%);
  opacity: 0;
}

#menuknap {
  display: inline-block;
  text-align: end;
  scale: 1.5;
  font-family: "Urbanist", sans-serif;
}

#menu {
  list-style-type: none;
  transition: transform 0.3s;
  transform-origin: top left;
}

header ul li {
  margin: 20px 20px;
}

/*.header_nav {
  text-align: end;
  align-items: baseline;
  background-color: var(--primary);
} */

/*HEADER WEB*/

header {
  padding: 1rem 1.5rem;
  text-align: end;
  top: 0;
  padding: 1rem 1.5rem;
  display: grid;
  grid-template-columns: auto 1fr;
  box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.3);
}

header .logo {
  margin-bottom: 0.5rem;
  text-align: left;
}

header .logo img {
  width: 100px;
  display: inline;
}

/*LISTE / HUNDE.HTML */

.data_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

article {
  border: 1px solid var(--accent);
  padding: 1rem;
}

/*POP-UP DESIGN*/

#singleview {
  grid-template-columns: auto;
}

#popup {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: #00000099;
  padding-block: 2em;
  display: none;
  overflow: scroll;
  padding-inline: 0;
}

#popup h2 {
  margin: 0;
}

#popup article {
  background-color: var(--secondary);
  width: 85%;
  margin: auto;
}

#popup button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  font-weight: bolder;
  font-size: 16px;
}

/*FOOTER*/

footer {
  background-color: var(--primary);
  padding: 1em;
  text-align: center;
}

/*SKAERME STOERRE END....*/

/*BURGER MENU*/

@media only screen and (min-width: 600px) {
  header {
    align-items: baseline;
  }

  #menuknap {
    display: none;
  }

  #menu.hidden {
    transform: translateX(0);
    opacity: 1;
    display: flex;
    justify-content: end;
    /*gap: 30px;*/
  }

  #menu li {
    display: inline-block;
  }
}

@media (min-width: 780px) {
  #singleview {
    grid-template-columns: auto minmax(0, 1200px) auto;
  }

  #singleview article {
    grid-column: 2/3;
    justify-content: center;
  }

  #singleview article img {
    max-width: 500px;
    display: block;
    margin: auto;
  }

  #singleview section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    line-height: 2em;
  }

  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  #popupinfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #popupinfo img {
    width: 300px;
  }

  #popupinfo .tekst {
    margin: 1.5rem;
  }

  #popup article {
    width: 65%;
  }
}

@media (min-width: 1000px) {
  #popup article {
    width: 40%;
  }
}
