img {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
}

main {
  display: grid;
  grid-template-columns: auto minmax(0, 1200px) auto;
  align-items: center;
  line-height: 2em;
}

main > section {
  /*alle sections i main skal placere sig i column 2/3*/
  grid-column: 2/3;
  padding-inline: 1rem;
  padding-block: 1rem;
}

/*TYPOGRAFI*/

h1,
h2 {
  font-family: "Rampart One", cursive;
}

h3,
p,
button,
a {
  font-family: "Urbanist", sans-serif;
}

a {
  font-weight: 800;
  text-decoration: none;
  font-size: 1em;
  color: black;
}

.forside_liste {
  font-weight: 800;
  font-family: "Urbanist", sans-serif;
}

#menu li:hover {
  background-color: var(--tertiary);
}

footer a:hover {
  text-decoration: underline var(--text);
}

.filtermenu h2 {
  color: var(--text);
}

#forside a:hover {
  color: var(--tertiary);
}

.overskrift {
  grid-column: 2/3;
}
.overskrift h1 {
  font-size: 2em;
}

/*FARVER*/

/*variabler på farver så man nemmere/hurtigere kan rette farver*/
html {
  --primary: #000;
  --secondary: #fff;
  --tertiary: #9ce861;
  --accent: #c5c9ca;
  --text: #496e2c;
}

/*KNAPPER*/

/*filtreringsknapper, design*/
nav button {
  border: 1px solid var(--tertiary);
  background-color: Transparent;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0.2rem 0.1rem;
  cursor: pointer;
  padding: 0.7rem;
  font-size: 1em;
  font-weight: bolder;
  color: var(--text);
}

nav ul {
  padding: 0;
}

/*når man hover på filtreringsknapperne skal de blive lidt større*/
nav button:hover {
  scale: 1.1;
}

/* .valgt er når filterknappen er valgt*/

.valgt {
  background-color: var(--tertiary);
}

/*knapperne inde i articlen/hundeprofil*/
article button {
  border: 1px solid var(--accent);
  background-color: var(--secondary);
  padding: 0.7rem;
  font-size: 1em;
}

/*når man hover på knapperne inde i de forskellige hunde profiler*/

.profilknapper {
  /*.profilknapper er begge knapper inde i articlen/ hundeprofilen*/
  text-align: end;
  margin-top: 2rem;
}

.quickview:hover,
.detaljer:hover {
  /*når man hover over de enkelte knapper i hundeprofilen skal baggrundsfarven ændres*/
  background-color: var(--tertiary);
  color: var(--secondary);
  cursor: pointer;
}

#singleview .tilbage {
  margin: 1rem;
}

.tilbage:hover {
  background-color: var(--tertiary);
  color: var(--secondary);
  cursor: pointer;
}

/*BURGERMENU*/

/*når menuen er skjult*/
.hidden {
  display: none; /*skjul/vis ikke elementet*/
  /*    transform: scale(0);*/
  transform: translateX(100%);
  opacity: 0;
}

#menuknap {
  display: inline-block;
  text-align: end;
  scale: 1.5;
  font-family: "Urbanist", sans-serif;
}

#menu {
  list-style-type: none;
  transition: transform 0.3s;
  transform-origin: top left;
}

#menu li {
  margin: 20px 20px;
}

/*.header_nav {
  text-align: end;
  align-items: baseline;
  background-color: var(--primary);
} */

/*HEADER WEB*/

header {
  padding: 1rem 1.5rem;
  text-align: end;
  top: 0;
  padding: 1rem 1.5rem;
  display: grid;
  grid-template-columns: auto 1fr;
  /* box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.3); */
}

header .logo {
  margin-bottom: 0.5rem;
  text-align: left;
}

header .logo img {
  width: 100px;
  display: inline;
}

/*LISTE / HUNDE.HTML */

.data_container {
  /*grid for vores dynamiske indhold, hvordan hundeprofilerne skal placeres i filtreringssiden*/
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

article {
  border: 1px solid var(--accent);
  padding: 1rem;
}

.forord {
  max-width: 600px;
}

/*POP-UP DESIGN*/

#singleview {
  grid-template-columns: auto;
}

#popup {
  /*popup vinduet åbnes når der klikkes på en hund*/
  width: 100vw; /*popup skal fylde hele vinduet*/
  height: 100vh;
  position: fixed; /*popup skal placeres ovenpå sidens øvrige sider*/
  top: 0;
  background-color: #00000099;
  padding-block: 2em;
  display: none; /*popup er som udgangspunkt lukket*/
  overflow: scroll; /*hvis billedet er for stort skal der være mulighed for at scrolle*/
  padding-inline: 0;
}

#popup h2 {
  margin: 0;
}

#popup article {
  /*popup vinduets indhold udfyldes dynamisk*/
  background-color: var(--secondary);
  width: 85%;
  margin: auto;
}

#popup button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden; /*fylder knappen mere, croppes det*/
  font-weight: bolder;
  font-size: 16px;
}

/*FOOTER*/

footer {
  background-color: var(--tertiary);
  padding: 1em;
  text-align: center;
  color: var(--text);
}

footer a {
  color: var(--text);
}

/*SKAERME STOERRE END....*/

/*BURGER MENU*/

@media only screen and (min-width: 600px) {
  header {
    align-items: baseline;
  }

  #menuknap {
    display: none;
  }

  #menu.hidden {
    transform: translateX(0);
    opacity: 1;
    display: flex;
    justify-content: end;
    /*gap: 30px;*/
  }

  #menu li {
    display: inline-block;
  }
  #menu li {
    border-left: 1px solid var(--tertiary);
    border-bottom: 5px solid var(--tertiary);
    border-top: 1px solid var(--tertiary);
    border-right: 5px solid var(--tertiary);
    text-align: start;
    text-decoration: none;
    display: inline-block;
    margin: 0.4rem 0.3rem;
    cursor: pointer;
    padding: 0.7rem;
    font-size: 1em;
    font-weight: bolder;
    color: var(--primary);
  }
  #menu a {
    color: var(--text);
  }
  .overskrift {
    grid-column: 2/3;
  }
  .overskrift h1 {
    font-size: 2em;
  }
}

@media (min-width: 780px) {
  header {
    margin-left: 6em;
    margin-right: 6em;
  }

  #singleview {
    grid-template-columns: auto minmax(0, 1200px) auto;
  }

  #singleview article {
    grid-column: 2/3;
    justify-content: center;
    margin-bottom: 2em;
  }

  #singleview article img {
    max-width: 500px;
    display: block;
    margin: auto;
  }

  #singleview section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    line-height: 2em;
  }

  /*SINGLE VIEW TEKST*/

  .profiltekst {
    padding-inline: 1rem;
  }

  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  #popupinfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #popupinfo img {
    width: 300px;
  }

  #popupinfo .tekst {
    margin: 1.5rem;
  }

  /*#popup article {
    width: 85%;
  } */

  #forside #section2 {
    margin-top: -5rem;
  }
}
@media (min-width: 1000px) {
  #popup article {
    width: 40%;
  }
}
