img {
  width: 100%;
}

/*TYPOGRAFI*/

h1,
h2 {
  font-family: "Rampart One", cursive;
}

h3,
p,
button,
a {
  font-family: "Urbanist", sans-serif;
}

a {
  font-weight: 800;
  text-decoration: none;
  font-size: 1em;
  color: black;
}

a:hover {
  text-decoration: underline;
}

/*BURGERMENU*/

.hidden {
  /*    display: none;*/
  /*    transform: scale(0);*/
  transform: translateX(-100%);
  opacity: 0;
}

#menuknap {
  display: inline-block;
  text-align: end;
}

#menu {
  list-style-type: none;
  transition: transform 0.3s;
  transform-origin: top left;
}

.header_nav {
  text-align: end;
  align-items: baseline;
}

@media only screen and (min-width: 600px) {
  #menuknap {
    display: none;
  }

  #menu.hidden {
    transform: translateX(0);
    opacity: 1;
  }

  #menu li {
    display: inline-block;
  }
}

/*HEADER WEB*/

header {
  padding: 1rem 1.5rem;
  text-align: end;
  top: 0;
  padding: 1rem 1.5rem;
  display: grid;
  grid-template-columns: auto 1fr;
}

header .logo {
  margin-bottom: 0.5rem;
  text-align: left;
}

header .logo img {
  width: 100px;
  display: inline;
}

.data_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.valgt {
  background-color: #29abe2;
}

/*pop-up*/

#popup {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: #00000099;
  padding-block: 2em;
  display: none;
  overflow: scroll;
}

#popup h2 {
  margin: 0;
}

#popup article {
  background-color: white;
  width: 85%;
  margin: auto;
}

#popup button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  font-weight: bolder;
  font-size: 16px;
}

/*FOOTER*/

footer {
  background-color: #29abe2;
}
